main {
  height: 500px;
  background: #c1dcdc;
  border-radius: 24px;
  padding-left: 48px;
  display: flex;
  align-items: start;
  padding-right: 20px;
  padding-bottom: 0;
}
.top-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  margin: 0;
  padding: 0;
}
.center-left-side-block {
  width: 318px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-line {
  height: 64px;
  width: 1px;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 6px;
  width: 415px;
  height: 64px;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
}
.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 18px;
  color: #333;
  font-family: sans-serif;
}
.search-input::placeholder {
  color: #9ca3af;
}
.search-btn {
  background-color: #c1dcdc;
  border: none;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.search-btn:hover {
  background-color: #94a3b8; /* Темнішає при наведенні */
}
.main-img-right {
  height: 500px;
  width: 650px;
  margin-bottom: 0;
}
.number-main {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.left-left-side,
.right-left-side {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.left-side {
  width: 520px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0;
  margin-top: 50px;
}
